<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stephensons Tank Overview - (UTF)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Upper Tank Farm (UTF)</h1>
        </header>

        <div class="tank-container">
            {% for tank in tank_data %}
                <div class="tank">
                    <h2>Storage Tank | {{ tank.id }}</h2>
                    <p>Temperature: {{ tank.temperature }}°C</p>
                    <p>Weight: {{ tank.weight }} Te</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
